<!DOCTYPE html>
<html lang="es,en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial/scale=1.0">
    <title>Principal - sysRh</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/img/icons/gestion.png">
<body>
<div>
    <header>
        <ul class="navbar">
            <li><a href="#" title="LLeva a la pagina principal">Inicio</a></li>
            <li><a href="#">Opciones</a></li>
            <li class="right"><a href="#">Salir</a></li>
        </ul>
    </header>
</div>
<div>
<h2>Hola Git<h2>
<p>estoy aprendiendo a usar la herramineta!<p>  
</div>
<body>
</html>
