<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>
<body>
    <div>
    <h3>Acceso a Plataforma</h3>
        <div>
            <label for="username">Usuario</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="userpass">Contrasenha</label><br>
            <input type="text" id="userpass" name="username"><br><br>
        </div>

        <div>
            <input type="submit" value="Submit">        
        </div>
    </div>
</body>
</html>