<!DOCTYPE html>
<html lang="es,en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial/scale=1.0">
    <title>Principal - sysRh</title>
    <link rel="stylesheet" href="/static/css/styles.css">
<body>
<div>
    <header>
        <ul>
            <li title="Lleva a la pagina principal">Inicio</li>
            <li>Opciones</li>
            <li>Salir</ul>
        </ul>
    </header>
</div>
<div>
<h2>Hola Git<h2>
<p>estoy aprendiendo a usar la herramineta!<p>  
</div>
<body>
</html>
